* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

a {
  text-decoration: none;
  color: #333333;
  font-size: 1em; }

header {
  position: fixed;
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  z-index: 1; }

.logo {
  font-weight: 500;
  font-size: 3em;
  letter-spacing: 0.1em;
  z-index: 1;
  opacity: 0; }

.menu-toggle {
  position: absolute;
  right: 30px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  z-index: 3; }

.menu-toggle .hamburguer {
  position: relative;
  display: block;
  height: 2px;
  width: 50px;
  margin: 5px 0;
  background-color: #FCBE85;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 1; }

.menu-toggle .hamburguer.open:first-child {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 12px; }

.menu-toggle .hamburguer.open:nth-child(2) {
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px); }

.menu-toggle .hamburguer.open:last-child {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 12px; }

.menu-toggle:hover .hamburguer:nth-child(2) {
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px); }

nav {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333333;
  -webkit-transition: all 0.3s ease-out 0.2s;
  transition: all 0.3s ease-out 0.2s; }

nav.open {
  top: 0;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s; }

nav.open .menuitem {
  padding: 20px;
  letter-spacing: 0.2em;
  opacity: 1;
  -webkit-transition-property: opacity, padding, letter-spacing;
  transition-property: opacity, padding, letter-spacing;
  -webkit-transition-duration: 0.5s, 0.3s, 0.3s;
  transition-duration: 0.5s, 0.3s, 0.3s;
  -webkit-transition-delay: 0.5s, 0.4s, 0s;
  transition-delay: 0.5s, 0.4s, 0s;
  -webkit-transition-timing-function: ease-in, ease-in, ease;
  transition-timing-function: ease-in, ease-in, ease; }

nav.open .menuitem:hover {
  letter-spacing: 0.3em; }

.menuitem {
  display: block;
  width: 100%;
  padding: 0px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 0;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition-property: opacity, padding, letter-spacing, color;
  transition-property: opacity, padding, letter-spacing, color;
  -webkit-transition-duration: 0.2s, 0.2s, 0.2s, 0.3d;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.3d;
  -webkit-transition-delay: 0s, 0s, 0s, 0s;
  transition-delay: 0s, 0s, 0s, 0s;
  -webkit-transition-timing-function: ease-out, ease-out, ease, ease;
  transition-timing-function: ease-out, ease-out, ease, ease; }

.menuitem:hover {
  color: #FCBE85; }

section {
  padding: 5rem; }

.rect {
  position: absolute;
  top: 30px; }

.home {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  align-items: center;
  height: 100vh; }

.centrar {
  display: grid;
  align-items: center;
  z-index: 1;
  height: 70vh; }

.contenedor {
  margin: 0 12rem; }

h1 {
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 8rem;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36); }

h2 {
  color: #333333;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 4.8rem; }

h3 {
  color: #FCBE85;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); }

h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #333333; }

h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #BDBDBD; }

p {
  color: #333333;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.6rem; }

.cta {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: #FFFFFF;
  display: inline-block;
  margin: 2rem 0;
  padding: 1rem 2rem;
  background-color: #FCBE85;
  border: solid 2px transparent;
  border-radius: 2px;
  transition: 0.3s;
  text-decoration: none; }

.cta:hover {
  color: #FCBE85;
  background-color: transparent;
  border: solid 2px #FCBE85; }

.ctai {
  font-family: 'Poppins', sans-serif;
  border-radius: 2px;
  font-weight: 700;
  font-size: 1.8rem;
  color: #FFFFFF;
  display: inline-block;
  margin: 2rem 0;
  padding: 1rem 2rem;
  background-color: #FCBE85;
  border: solid 2px transparent;
  transition: 0.3s;
  text-decoration: none; }

.ctai:hover {
  color: #FFFFFF;
  background-color: transparent;
  border: solid 2px #FCBE85; }

.cta2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  transition: 0.3s;
  display: inline-block;
  margin-left: 2rem; }

.cta2:hover {
  color: #FCBE85;
  transform: scale(1.2); }

.linkr {
  transition: transform 0.3s; }

.linkr:hover {
  transform: scale(1.3); }

.iconify {
  margin: 1.5rem; }

.iconify2 {
  fill: #FCBE85;
  margin: 1.5rem; }

.contacto {
  padding: 5rem; }

.mail {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 2.6rem; }

.contfoto {
  padding: 1rem 0; }

.fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: blo; }

.noshad {
  text-shadow: none; }

.padrelinks {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-top: 4rem;
  padding-top: 4rem; }
  .padrelinks li {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    text-transform: none; }

.tarj {
  padding: 6rem;
  -webkit-box-shadow: 5px 5px 22px -1px rgba(252, 191, 133, 0.42);
  -moz-box-shadow: 5px 5px 22px -1px rgba(252, 191, 133, 0.42);
  box-shadow: 5px 5px 22px -1px rgba(252, 191, 133, 0.42);
  transition: 1s ease; }

.tarj:hover {
  transform: scale(1.1); }

@-webkit-keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
    transform-origin: 50% 84%; }
  100% {
    -webkit-transform: scale(1.25) translateY(15px);
    transform: scale(1.25) translateY(15px);
    -webkit-transform-origin: bottom;
    transform-origin: bottom; } }

@keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
    transform-origin: 50% 84%; }
  100% {
    -webkit-transform: scale(1.25) translateY(15px);
    transform: scale(1.25) translateY(15px);
    -webkit-transform-origin: bottom;
    transform-origin: bottom; } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fade-in {
  -webkit-animation: fade-in 1.2s ease-in-out both;
  animation: fade-in 1.2s ease-in-out both; }

.fade-in2 {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both; }

.kenburns-bottom {
  -webkit-animation: kenburns-bottom 10s ease-in-out both;
  animation: kenburns-bottom 10s ease-in-out both; }

@media only screen and (max-width: 992px) {
  html {
    font-size: 75%; }
  h1 {
    font-size: 4rem; }
  h3 {
    font-size: 2rem; }
  .centrar {
    display: grid;
    align-items: center;
    z-index: 1;
    height: auto; }
  .cta {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;
    margin: 2rem 0;
    padding: 1rem 2rem;
    background-color: #FCBE85;
    border: solid 2px transparent;
    transition: 0.3s;
    text-decoration: none; }
  .contenedor {
    margin: 1rem; }
  .proyectsp {
    padding: 2rem;
    height: auto; }
  .home {
    background-image: url(../img/bgt.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    align-items: center; }
  .contacto {
    padding: 2rem; } }

@media only screen and (max-width: 576px) {
  html {
    font-size: 70%; }
  header {
    padding: 1rem;
    background-color: #FFFFFF; }
  .cta {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    color: #FFFFFF;
    display: inline-block;
    margin: 1rem 0;
    padding: 1rem 2rem;
    background-color: #FCBE85;
    border: solid 2px transparent;
    transition: 0.3s;
    text-decoration: none; }
  .ctai {
    font-family: 'Poppins', sans-serif;
    border-radius: 2px;
    font-weight: 700;
    font-size: 1.6rem;
    color: #FFFFFF;
    display: inline-block;
    margin: 1rem 0;
    padding: 1rem 2rem;
    background-color: #FCBE85;
    border: solid 2px transparent;
    transition: 0.3s;
    text-decoration: none; }
  .ctai:hover {
    color: #FFFFFF;
    background-color: transparent;
    border: solid 2px #FCBE85; }
  .home {
    background-image: url(../img/bgm.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    align-items: center;
    height: 100vh; }
  .centrar {
    display: grid;
    align-items: center;
    z-index: 1;
    height: auto; }
  section {
    padding: 2rem;
    height: auto; }
  h1 {
    font-size: 4rem; }
  h2 {
    font-size: 3rem; }
  h3 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem; }
  .contenedor {
    margin: 2rem; }
  .centrar {
    padding: 2rem;
    margin: 2rem 0; }
  .proyectsp {
    padding: 2rem;
    height: auto; }
  .contacto {
    padding: 2rem; }
  .mail {
    font-size: 1.6rem; }
  .padrelinks {
    display: none; } }
